.form-group {
  .form-control-label {
    color: $gray_dark4 !important;
    display: inline-block;
    margin-bottom: 0.5rem;
  }

  input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $gray_dark3;
    background-color: $white;
    background-clip: padding-box;
    border: 1px solid $gray_light3;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-radius: 0;
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
  }

  .help-block {
    background: $gray_light3;
    padding: 0 0.75rem;
    color: $gray_dark3;
    line-height: 30px;
  }

  .hint-block {
    background: $gray_light;
    padding: 0 0.75rem;
    font-size: 12px;
    line-height: 26px;
  }

}