$zindex_dropdown:          1000 !important;
$zindex_sticky:            1020 !important;
$zindex_fixed:             1030 !important;
$zindex_header_menu:       1033 !important;
$zindex_header:            1036 !important;
$zindex_modal_backdrop:    1040 !important;
$zindex_modal:             1050 !important;
$zindex_popover:           1060 !important;
$zindex_tooltip:           1070 !important;